In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("F:/Education/DS_Roadmap/py-master/ML/2_linear_reg_multivariate/homeprices.csv")

In [3]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
df.bedrooms.median()

4.0

In [7]:
import math
median_bedroom = math.floor(df.bedrooms.median())

In [8]:
median_bedroom

4

In [11]:
df.bedrooms=df.bedrooms.fillna(median_bedroom)

In [13]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [14]:
reg = LinearRegression()

In [26]:
reg.fit(df[["area", "bedrooms", 'age']], df.price)

LinearRegression()

In [27]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [28]:
reg.intercept_

221323.00186540408

In [29]:
reg.predict([[3200,4,18]])

C:\Users\Aditya Zarekar\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([615307.4140366])

In [23]:
df[["bedrooms"]]

   bedrooms
0       3.0
1       4.0
2       4.0
3       3.0
4       5.0
5       6.0

In [32]:
reg.predict([[3000,2,1]])

C:\Users\Aditya Zarekar\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([601056.36993905])